.create-form {
    max-width: 600px;
    justify-self: center;
}

.text-editor {
    min-height: 0px;
    /* list-style-type:decimal; */
}

.ck-editor__editable_inline {
    /* min-height: 300px; */
    height: 300px;
    pointer-events: all;
  }


  .text-editor ul {
    list-style-type: disc;
    margin-left: 40px;
    /* padding-left: 50px; */
  }


